<div class="table-users">
    <div class="form-reset-password">
        <form #formResetPassword="ngForm" (ngSubmit)="resetPassword(formResetPassword)">
            <br/>
            <p>Insira o email em que deseja resetar o password. Um email sera enviado com o novo password caso a conta exista.</p>
            <p>
                <input type="text" placeholder="Email" pInputText ngModel #emailInput="ngModel" name="email"/>
            </p>
            <p>
                <p-button label="Submit" type="submit" [loading]="loading" ></p-button>
            </p>
            
        </form>
    </div>
</div>

