<div class="table-users">
    <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>First Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Profile Status</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <div class="table-content">
                        <p-tag [value]="getStatusDescription(user.active)"
                            [severity]="getSeverity(user.active)"></p-tag>
                    </div>
                </td>
                <td>
                    <div class="btn-action table-content">
                        <p-button (click)="showDialog(user)" icon="pi pi-user-edit"
                            styleClass="p-button-rounded p-button-success"></p-button>
                        <p-button (click)="showDialog2(user)" icon="pi pi-times" styleClass="p-button-rounded p-button-danger"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- Edit dialog -->
<div>
    <p-dialog header="Header" [(visible)]="visible" [style]="{width: '50vw'}">
        <div>
            <form [formGroup]="userProfileForm" (ngSubmit)="doIt()">

                <img class="rounded" height="135" width="135" src="{{user.profileImageUrl}}" alt="">
                <!-- <p-fileUpload mode="basic" name="demo[]" accept="image/*" (change)="onProfileImageChange($event)"  chooseLabel="Browse"></p-fileUpload> -->
                <input type="file" accept="image/*" name="profileImage" (change)="onProfileImageChange($event)">

                <label for="first-name">First Name: </label>
                <input style="margin-left: 10px; margin-right: 50px;" id="first-name" value="" type="text" pInputText
                    formControlName="firstName" />

                <label for="last-name">Last Name: </label>
                <input style="margin-left: 10px;" id="last-name" type="text" pInputText formControlName="lastName" />
                <p>
                    <label for="username">Username: </label>
                    <input style="margin-left: 10px;" id="username" type="text" pInputText formControlName="username" />
                </p>

                <p>
                    <label for="email">Email: </label>
                    <input style="margin-left: 10px;" id="email" type="text" pInputText formControlName="email" />
                </p>

                <p>
                    <label style="margin-right: 10px;" for="role">Role: </label>
                    <p-dropdown id="role" formControlName="role" [options]="cities" optionLabel="name"
                        placeholder="Select a City"></p-dropdown>

                </p>

                <h3>Account Settings:</h3>
                <p>
                    <p-checkbox [binary]="true" formControlName="active" value="true" inputId="active"></p-checkbox>
                    <label style="margin-left: 5px;" for="active">Active</label>
                    <br />
                    <p-checkbox [binary]="true" formControlName="unlocked" value="true" inputId="unlocked"></p-checkbox>
                    <label style="margin-left: 5px;" for="unlocked">Unlocked</label>
                </p>


                <p-button type="submit" label="Submit"></p-button>
            </form>
            <br />
            <br />
            <br />
            <h2>Permissions from role:</h2>
            <h5 *ngFor="let authority of user?.authorities">{{authority}}</h5>
        </div>
    </p-dialog>
</div>

<!-- Delete confimation dialog -->
<p-dialog header="Header" [(visible)]="visible2" [style]="{ width: '50vw' }">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Delete user</span>
    </ng-template>
    <p>
        Are you sure about user deletion?
    </p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="visible2 = false" label="Sim" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="visible2 = false" label="Não" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- Confimation dialog -->
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>